.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.app-info{
  display: flex;
  align-items: center;
  gap: 10px;
}

.spacer {
  flex: 1;
}

.user-info {
  display: flex;
  align-items: center;
}

button {
  margin-left: 10px;
}
