.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.login-card {
  width: 350px;
  padding: 20px;
  text-align: center;
}

.full-width {
  width: 100%;
}
mat-card-header {
  padding: 16px;
  justify-content: center;
}
mat-card-title {
  font-size: 1.5rem;
}

.login-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

button {
  margin-top: 15px;
  width: 100%;
}
